<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:sijia3="http://www.sijia3.com/schema/sijia3"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
        http://www.sijia3.com/schema/sijia3
        http://www.sijia3.com/schema/sijia3.xsd">


    <context:property-placeholder location="classpath:rpc.properties"/>

    <context:component-scan base-package="com.sijia3.client"/>

    <bean id="serverDiscovery" class="com.sijia3.registry.impl.ServerDiscoveryImpl">
        <constructor-arg name="address" value="${rpc.registry_address}"/>
    </bean>

    <bean id="rpcProxy" class="com.sijia3.client.RpcProxy">
        <constructor-arg name="serverDiscovery" ref="serverDiscovery"/>
    </bean>


    <sijia3:service id="helloService" version="" class="com.sijia3.api.HelloService"/>
    <sijia3:service id="testService" version="" class="com.sijia3.api.TestService"/>


</beans>